$primary-color: #1976d2;
$secondary-color: #ffc107;

.dashboard-container {
  // height: calc(99vh - 55px);
  height: calc(99vh - 78px);
  overflow-y: auto;

  .floating {
    // position: absolute;
    // bottom: 7%;
    // right: 5%;
    position: fixed;
    bottom: 8%;
    right: 15%;
  }

  .search-input {
    background: #fff;
    padding: 8px;
    border-radius: 25px;
  }

  .search-input::before,
  .search-input::after,
  .search-input:hover:not(.Mui-disabled):before {
    border-bottom: none;
  }

  .data-not-found {
    padding: 1rem;
    margin: 2rem 0;
    text-align: center;
    font-weight: bold;
  }

  .card {
    margin: 8px 0;
    height: 6rem;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);

    .box-container {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .action-container {
      display: none !important;
    }

    .action-button {
      min-width: 0;
    }
  }

  canvas {
    background-color: #f8f9fa;
    margin-top: 8px;
    border-radius: 4px;
    padding: 8px;
  }

  @media only screen and (max-width: 425px) {
    height: calc(99vh - 73px);
  }

  @media only screen and (min-width: 786px) {
    .floating {
      right: 41%
    }

    .scroll-to-top {
      left: 41%
    }

    // .data-not-found {
    //   width: 378px;
    // }
  }

  // @media only screen and (min-width: 320px) {
  //   .data-not-found {
  //     width: 320px;
  //   }
  // }
}

/* scroller */
// #scroller::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #f5f5f5;
// }

// #scroller::-webkit-scrollbar {
//   width: 6px;
//   background-color: #f5f5f5;
// }

// #scroller::-webkit-scrollbar-thumb {
//   // background-color: $primary-color;
//   background-color: #000;
// }