.profile-container {
    height: calc(100vh - 120px);

    @media only screen and (max-width: 425px) {
        height: calc(99vh - 102px);
    }

    // @media only screen and (max-width: 375px) and (max-height: 667px) {
    //     form {
    //         height: 500px;
    //         overflow-y: auto;
    //     }
    // }
}