.expense-details-container {
    height: calc(100vh - 112px);

    .input-box {
        margin: 2rem 0;
    }

    .errors {
        color: red;
        margin-bottom: 0;
        text-align: left;
        font-size: 12px;
    }

    .no-data-found {
        display: grid;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 65px);
    }

    .expense-image {
        width: auto;
        height: 150px;
        object-fit: cover;
    }

    @media only screen and (max-width: 425px) {
        height: calc(99vh - 88px);
    }

    @media only screen and (max-width: 375px) and (max-height: 667px) {
        form {
            height: 500px;
            overflow-y: auto;
        }
    }
}